<a href="https://colab.research.google.com/github/DerrickKuria/Python-Practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PYTHON INTRODUCTION

## 1.Printing Hello World, comments and new lines

In [ ]:
print("Hello World")

Hello World

### a.Comments in python

In [ ]:
# My first code
print("Hello World")

Hello World

**i).Single line comments**

In python we use # to comment.

Comments are used  to explain code and explain objectives

**ii).Multiline comments**

To do a multil-line comment, one uses 3 quotes, as shown below.

In [ ]:
print(""" This is
 is a multi-
 line comment""")

 This is
 is a multi-
 line comment

In [ ]:
print("""This is a multi
line 
comment""")

This is a multiline comment

**Exercise 1**

a. Print your  second name and comment your first name

In [ ]:
print('Kuria')
#Derrick

Kuria

###***b.New Lines***

\n represents a new line.

It is used in strings to create multiline outputs.

Check example below.

In [ ]:
print('Python \nis \nfun')

Python
is
fun

**NB**.Backslashes are used when we have an apostrophe in the printed statements as shown below. Run the following code. This allows for one to use a closing quote without stoping the whole code from not running.

In [ ]:
print('Victor\'s books are lost')

Victor's books are lost

An alternative is to use double quotes as shown below. It gives the same output.

In [ ]:
print("Victor's books are lost")

Victor's books are lost

b. Print the following that is comments to appear the same way in the output using three different ways.

In [ ]:
#1.DImension
#2.Data
#3.MEA

In [ ]:
print('1.Dimension \n2.Data \n3.MEA')

1.Dimension
2.Data
3.MEA

In [ ]:
#1.DImension
#2.Data
#3.MEA

## 2.Python Data types

### a.Examples

There are several data types in python


1.   **str** - used for storing strings or simply words
2.   **int** - used for storing integers or simply whole numbers
3.   **float** - used for storing decimal numbers
4.   complex - used for storing complex values eg. 3+2i
5.   list - stores many items but assigned to one variable(uses square brackets
6.   dict - uses the key and value 
7.   range - Handles a scope of items eg. y=range(100)
8.   tuple - stores many items but assigned to one variable(uses normal brackets)
9.   **bool** - True , False

(The main ones are in bold)

NB :To get a little more about complex numbers check the following links:

[complex_numbers](https://www.geeksforgeeks.org/complex-numbers-in-python-set-1-introduction/)

[complex_numbers2](https://www.tutorialspoint.com/complex-numbers-in-python)

[W3schools](https://www.w3schools.com/)

To check for the type of  data types , use code

**print(type())**

eg

In [ ]:
#a.
x=17
print(type(x))

<class 'int'>

In [ ]:
#.b
r= 23.678
print(type(r))

<class 'float'>

In [ ]:
#.c
utensils = ['Plates','cups','spoons','bowls']
print(type(utensils))

<class 'list'>

In [ ]:
print(utensils)

['Plates', 'cups', 'spoons', 'bowls']

In [ ]:
print(type(utensils))

<class 'list'>

In [ ]:
type(utensils)

list

In [ ]:
#.d
w= range(34)
print(type(w))

<class 'range'>

In [ ]:
print(w)

range(0, 34)

In [ ]:
a = 34
q = range(a)
print(q)

range(0, 34)

[python ranges](https://www.w3schools.com/python/ref_func_range.asp)

**Exercise 2**

Identify the following  data types

In [ ]:
#type()
#print(type())

In [ ]:
#a.
range1 =range(67)
print(type(range1))

<class 'range'>

In [ ]:
#b.
numb = 3-4j
print(type(numb))

<class 'complex'>

In [ ]:
#c. 
favs = {
  "Charles": "SQL",
  "David": "RPA",
  "Rick": "Data"
}
print(type(favs))

<class 'dict'>

In [ ]:
#d. 
python_exciting = True
print(type(python_exciting))

<class 'bool'>

In [ ]:
#e.
phones = ["iphone","Samsung","nokia","infinix","Tecno"]
print(type(phones))

<class 'list'>

### b.Changing data types

When you want to change a data type to another , you simply add that data type to the value you want to change. 

eg.

In [ ]:
int(3.0)

3

In [ ]:
float(4)

4.0

In [ ]:
str(True)

'True'

In [ ]:
number = 3.5678
int(number)

3

However not all data types can be converted into other data types.

###**c.String indexing and slicing**

Indexing just means accessing elements

**i).Indexing**

In [ ]:
day = "Saturday"
              
print(day)

Saturday

In [ ]:
#To get the first element of the the string assigned to day
print(day[0])

S

In [ ]:
#To get the second element of the the string assigned to day
print(day[1])

a

In [ ]:
#To get the last element of the the string assigned to day
print(day[-1])

y

In [ ]:
print(day)

Saturday

In [ ]:
print(day[-5])

u

In [ ]:
print(day[3])

u

In [ ]:
today = "We are learning python"
print(today)

We are learning python

In [ ]:
print(today[-2])

o

In [ ]:
# Also  it can be achieved like this.
print(day[7])

y

**ii).Slicing**

Slicing means getting a subset of elements from an iterable based on their indices.

In [ ]:
day = "Sunday"
print(day)

Sunday

In [ ]:
#To run the whole item variable
m = day[1:3]
print(m)

un

In [ ]:
#Also you can use this
r = day[:]
print(r)

Sunday

In [ ]:
#To get the item 'sun' from Sunday
q= day[0:3]
print(q)

Sun

In [ ]:
#To get the item 'day' from Sunday
d = day[3:]
print(d)

day

Exercise

In [ ]:
game = ("football")

#try to get the characters otba
print(game[2:6])

otba

In [ ]:
print(game)

football

### d. Formatted strings

Formatted strings are all about finding a position and  fitting it with the steing assigned to a variable.

In [ ]:
#named indexes:
one = "My name is {first_name}, I'm {age} and am from {place}".format(first_name = 'Derrick', age = 25, place ="Ngong")
#numbered indexes:
two = "My name is {0}, I'm {1} and am from {2}".format("Charles",25,"Kisumu")
#empty placeholders:
three = "My name is {}, I'm {}".format("David",25)

print(one)
print(two)
print(three)

In [ ]:
fname= input("what is your first name? ")
print("Your first name is " +fname)

what is your first name? charloh
Your first name is charloh

In [ ]:
name = input("What is you name:")
print('Your name is ' + name)

In [ ]:
first_name = 'Derrick'
last_name = 'Kuria'
age = 25

message =f' My  names are {first_name} {last_name} and my age is {age}.'
print(message)

 My  names are Derrick Kuria and my age is 24

## 3.Operations


*Everything in python that is in quotes is a string*
One can do Concatenations to achieve a certain agenda

---
eg.

Example 1

In [ ]:
print('c'*5)

ccccc

Example 2

In [ ]:
print('M'+'r'+'.'+"K" +'a'+'m'+"a"+'u')

Mr.Kamau

Example 3

In [ ]:
answer = input('What will you be doing over the weekend? ')
print('I will be ' + answer)

What will you be doing over the weekend? walking
I will be walking

###**a.Mathematical operations**

In [ ]:
#Addition
2+2

4

In [ ]:
print(2+2)

4

In [ ]:
#Subtraction
7-3

4

In [ ]:
print(7-3)

4

In [ ]:
#Multiplication - using the asterisk
3*4

12

In [ ]:
print(3*4)

12

In [ ]:
#Division
#There are two types of division.
  #a.Division
9/2
22/7
#Notice the answer is returned as a float

3.142857142857143

In [ ]:
  #b.Division

22//7
#Notice the answer is returned as an integer

3

Python has two division operators, 
1. a single slash character for classic division and a double-slash for “floor” division (rounds down to nearest whole number). 
2. Classic division means that if the operands are both integers, it will perform floor division, while for floating point numbers, it represents true division

In [ ]:
#modulo
#This returns the remainder of a division  expression.

10%3

1

In [ ]:
print(9%3)

0

In [ ]:
# Exponential - use double asterisk
2^4
4^4

#2**4

0

In [ ]:
print(2**4)

16

**Exercise 3**

In [ ]:
#a.
print(2 *(3+7))

20

In [ ]:
#b.
print(16//9)

1

In [ ]:
#c. 
print((4 +8)/2)

6.0

In [ ]:
#d.
print(4**6)

4096

In [ ]:
first name =(" ")

In [ ]:
#e.
#Use python exponential  function to obtain 64 as the output

To further information on math and math funtions visit this [link](https://docs.python.org/3/library/math.html)

## 4.Variables

Used to store values.We use an equal sign to assign.
Use underscores to separate words and begin with letters when naming.

In [ ]:
today = "Saturday"
x= 67
price = 500.00
good_shirt = True

Exercise 4a

In [ ]:
#Print all the following items above

We have seen how the function print works with variables. Now let us look at how another function, input works with variables.

Examples

In [ ]:
name = input()
age = input()

print(name + " is " + age )

Derrick
25
Derrick is 25

In [ ]:
type(age)

str

In [ ]:
#2.
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Charles
Hello, Charles

One can use input a mutiple of times.

In [ ]:
#3.
age = 42

print("His age is " + str(age))

His age is 42

***Getting length of string***

In [ ]:
statement = 'Python is Fun'
print(len(statement))

13

***Turning to upper case using upper method***

In [ ]:
statement.

In [ ]:
print(statement.upper())

PYTHON IS FUN

***Turning string to lower case using lower method***

In [ ]:
print(statement.lower())

python is fun

As said before inorder to convert a number to a string , we use the str() function.

***Python String replace() Method***

One can call the string.replace(old, new) method using the string object

In [ ]:
s = "I have taken two glasses of water"
s = s.replace("two","five")
print(s)

I have taken five glasses of water

One mat have two or more words that are the same.

Eg.

My dog has two puppies and my cat has two kitten.

How does one replace the second 'two' and put five.

this is done as follows.

By default its all the matching words that are replaced.

In [ ]:
pets1 = "My dog has two puppies and my cat has two kitten."
pets1 = pets1.replace("two","seven",-1)
print(pets1)

My dog has seven puppies and my cat has seven kitten.

***join() function in Python***

The join() method is a string method


This is a function to join different elements and returning the output as a string.

In [ ]:
# .join() with lists
numList = ['1', '2', '3', '4']
separator = ' then '

1 then 2 then 3 then 4

In [ ]:
new = separator.join(numList)
print(new)

1 then 2 then 3 then 4

In [ ]:
print(numList)

['1', '2', '3', '4']

In [ ]:
# Python program to demonstrate the 
# use of join function to join list 
# elements with a character. 
  
list1 = ['1','2','3','4']  
  
s = "-"
  
# joins elements of list1 by '-' 
# and stores in sting s 
s = s.join(list1) 
  
# join use to join a list of 
# strings to a separator s 
print(s)

1-2-3-4

In [ ]:
# define strings                                                         
firstname = "John"
lastname = "Delly"

# define our sequence                                                    
seque = (firstname,lastname)

# join into new string                                                   
name = " ".join(seque)
print(name)

John Delly

In [ ]:
words = ["How","are","you","doing","?"]
sentence = ' '.join(words)
print(sentence)

How are you doing ?

## 5.CONTROL STRUCTURES

A control structure (or flow of control) is a block of programming that analyses variables and chooses a direction in which to go based on given parameters.


So, it is the basic **decision-making** process in programming

Flow of control through any given program is implemented with three basic types of control structures:
 ,
    
 



1.   **Sequential** - Sequential execution is when statements are executed one after another in order. You don't need to do anything more for this to happen.

2.   **Selection** - Selection used for decisions, branching - choosing between 2 or more alternative paths. 

     eg if, if ..else , switch
3.   **Repetition** - Repetition used for looping, i.e. repeating a piece of code multiple times in a row.

![control.png]()

#### a. Booleans - **True** and **False**

In [ ]:
#Examples
raining = False
print(raining)

False

In [ ]:
x = 2==3
print(x)

False

In [ ]:
print(100 <= 90)

False

In [ ]:
print("Charles" == "harles")

False

In [ ]:
print("chalu" > "chalea")

True

NB - In python one equals sign 0s an assignment sign

 eg
price =250

 Two equals is used to compare hence used with boolean instances.


 NB - When you want to show something is not equal to another , one uses the (!=)


 eg.

In [ ]:
#Example1

print(10 != 10)

False

In [ ]:
list_A = ['chair','table','stool','hous']
list_B = ['chair','table','stool','house']

print(list_A != list_B)

True

Exercise- 

What is the output of the code below.

In [ ]:
#1.
print(34 == 34.0)

True

In [ ]:
#2.
print("Annie">"Annitta")

**i).Boolean logic using and**

Both conditions have to be met

In [ ]:
print( 1==1 & 2 ==2 )

False

[using &](https://www.geeksforgeeks.org/python-bitwise-operators/?ref=lbp

[another](https://www.geeksforgeeks.org/difference-between-and-and-in-python/?ref=lbp)

In [ ]:
print(2 < 1 and 3 <=6)

False

**ii). Boolean logic using or**

It evaluates to true if both of its arguments are True, False if both arguments are False

In [ ]:
print(1 ==1 or 2==2)

True

In [ ]:
print( 2<1 or 3>6)

False

**iii).Boolean Not**

Reverts True to False and vice versa

In [ ]:
print(not 1==1)

#!=

False

In [ ]:
print(not 1>7)

True

### b. If Statements

If statements are used to run code only if a condition holds.

After writing the expresion use the :
and the python code will automatically indent the statements.


   

```
if expression:
    statements
```

In [ ]:
if 10 < 5:
  print("10 is greater than 5")

print('Program ended')


#The  first print only works if the condition is satisfied.
#The second print is shown since it is not in the indent.

Program ended

In [ ]:
if 'avo' in 'avocado':
  print('Found')
  print('True')
  print('Correct')

Found
True
Correct

In [ ]:

# We can write an if statement by using the if keyword as shown:
#
x = 200
y = 100
if y < x:
  print("y is less than x")

y is less than x

In [ ]:
# Below is another example of an if statement
#
x = 1
y = 7

# let's find out if x is greater than 7
if x > y: 
  print('yes')

### c.If---else

Allows one to check conditions and then run some statements.

used when the conditions are two.

In [ ]:
x=60
if x==61:
  print("Correct")
else:
  print("Not correct")

Not correct

### d. elif statements

Elif - shortform for else if.

used when the conditions are more than two.

In [ ]:
# The elif keyword is a keyword that will try another condition 
# if the previous condition was not true.
# The example below shows how the elif keyword can be used.
# 
x = 33
y = 33

if y < x:
  print("y is less than x")
elif x == y:
  print("x and y are equal")

x and y are equal

In [ ]:
#
choice = 'a'
if choice == 'a':
    print("You chose 'a'.")
elif choice == 'b':
    print("You chose 'b'.")
elif choice == 'c':
    print("You chose 'c'.")

You chose 'a'.

In [ ]:
#Example
score =75

if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

A

In [ ]:
#Example 
number = 3
if number ==1:
  print("This is number one")
elif number == 2:
  print('This is number 2')
elif number == 3:
  print('This is number 3')
else:
  print('This is number 4')

This is number 3

In [ ]:
#Examples
marks = 110
if (marks >= 80 and marks <= 100):
  print('You scored an A')
elif (marks >= 70 and marks < 80):
  print('You scored  a B')
elif (marks >= 60 and marks < 70):
  print('You scored a C')
elif (marks >= 50 and marks < 60):
  print('You scored a D')
elif (marks >=0  and marks <49):
  print('YOu have failed')
else:
  print('Input correct marks')

Input correct marks

### e. And

In [ ]:
#Example 1
# Declaring our variables
x = 11
y = 10
z = 12

if x > y and z > x:
  print("Both conditions are True")

Both conditions are True

In [ ]:
#Example 2
# Declaring our variables
name = "James"    
age  = 24 

if name == "James" and age == 24:
  print("Your name is James, and you are also 24 years old.")

Your name is James, and you are also 24 years old.

In [ ]:
#Exercise

# Given the 3 sides of a triangle x, y and z, let's find out 
# whether the triangle is equilateral, isosceles or scalene.
# Note: An equilateral triagnle has all sides are equal, 
# isosceles means that two of the sides are equal but not the third one, 
# scalene means all 3 are different. The user will be prompted 
# to provide the values of x, y and z

### f.OR

In [ ]:
# Declaring our variables
x = int(input("Enter value of x = "))
y = int(input("Enter value of y = "))
 
if (x >= 15) or (y <= 25):
  print("x >= 15 or y <= 25 so if statement is True")
else:
  print("Value of x < 15 and y > 25 so if statement is False!")

In [ ]:
# Declaring our variables
w = 10
x = 15
y = 20
z = 25
 
if (w == 10 or x == 15) and (y == 16 or z == 25):
  print("If statement is True")
else:
  print("False")

False

###g. List

A list is an **ordered** and **mutable** Python container, being one of the most common data structures in Python. To create a list, the elements are placed inside square brackets ([]), separated by commas.

**Vocubulary in Lists**

-Array Length: the total number of items in the collection

-Sort: how you could order items in the collection (for example, date, price, name, color, and so on)

-Index: a unique address or location in the collection (for example, page number in an album, shelf on a bookcase, and so on)

-Type: the type of item being stored in the collection

In [ ]:
start = ["Hello"," World","in","python", 3.0 ,9, True]
print(start)

['Hello', ' World', 'in', 'python', 3.0, 9, True]

In [ ]:
print(start[0])

Hello

In [ ]:
print(start[1])

 World

In [ ]:
print(start[-1])

True

In [ ]:
print(start[0:4])

['Hello', ' World', 'in', 'python']

In [ ]:
#You can also include a third number in the indexing, to count how often you should read from the list:

a = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]
print(a[1:5:2])
print(a[1:8:2])
print(a[8:1:-2])
print(a[10:0:-3])

[10, 20]
[10, 20, 30, 40]
[45, 35, 25, 15]
[55, 40, 25, 10]

In [ ]:
print(start[0:1:-1])

[]

***Empty list***

In [ ]:
empty_list = []
print(empty_list)

[]

***Lists in lists***

In [ ]:
number = [2,4,5,6,[True, False],7,[5,7,8,5,7]]
print(number)

[2, 4, 5, 6, [True, False], 7, [5, 7, 8, 5, 7]]

***List Functions***

**Append**- Adding an item to the end of an existing list

In [ ]:
nums =[1,3,7,8,9,8]
nums.append(10)
print(nums)

[1, 3, 7, 8, 9, 8, 10]

In [ ]:
#Add the pineaples and passion fruit to the list fruits.
fruits = ["bananas", "grapes", "mangoes"]
fruits.append("passion")
fruits.append("pineapples")
#fruits.append(["pineapples","passion"])
print(fruits)

['bananas', 'grapes', 'mangoes', 'passion', 'pineapples']

In [ ]:
a = [1,2,3,4,3,7,7]
b= [4,5,6,1,5,5]
c= a.append(b)
#print(c)

In [ ]:
mergedlist = []
mergedlist.extend(a)
mergedlist.extend(b)
#Removing duplicates.
mergedlist =list(set(mergedlist))
print(mergedlist)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Returning odd numbers in a list.
mergedlist1 =[d for d in mergedlist if d%2 !=0]
mergedlist1 = [i for i in mergedlist1 if mergedlist1.count(i)==1]

print(mergedlist1)

[1, 3, 5, 7]

In [ ]:
#Returning odd numbers in a list.
odd = []
for i in mergedlist:
  if i%2 !=0:
    odd.append(i)
print(odd)

[1, 3, 5, 7]

***Removing items***

In [ ]:
# Example 1
# Let's remove the first item from the fruits list as shown;
#
fruits.remove("bananas")
print(fruits)

['grapes', 'mangoes', ['pineapples', 'passion']]

In [ ]:
print(fruits)

['bananas', 'grapes', 'mangoes', 'passion', 'pineapples']

In [ ]:
#YOu can also use del
# Then remove the third item from the kenyan cities list as shown;
#
del fruits[-2]
print(fruits)

['bananas', 'grapes', 'pineapples']

***Length***

In [ ]:
nums = [1,6,8,8,2,8,8,3,8,8]
print(len(nums))

10

***Insert***

In [ ]:
list_a = ['Python','fun']
index = 1
list_a.insert(index, "is")
print(list_a)

['Python', 'is', 'fun']

In [ ]:
list_a = ['Python','fun']
#index = 1
list_a.insert(2, "!!")
print(list_a)

['Python', 'fun', '!!']

To check more on python functions click [here](https://www.w3schools.com/python/python_ref_list.asp)

###**h. Dictionaries**

A dictionary is a collection of key-value pairs, which are unordered, changeable and indexed. Curly brackets are used when writing a dictionary.

In [ ]:
#Creating dictionaries
# Let's create another dictionary car with keys; brand, model and year
# 
car =	{
  'brand': 'Mercedez Benz',
  'model': 'E-class',
  'year': 2012
}

# Then display it to see what the dictionary contains
print(car)

{'brand': 'Mercedez Benz', 'model': 'E-class', 'year': 2012}

In [ ]:
# Let's create another dictionary
#
our_class = {
    'Name': '4 Yellow', 
    'Students': 50, 
    'Wing': 'East'
}

# printing out our_class
print(our_class)

{'Name': '4 Yellow', 'Students': 50, 'Wing': 'East'}

In [ ]:
#Exercise

# Create a dictionary family with keys i.e. father,
# mother, son and daughter. You can add values of your family
# to the key values

family1 = {'father':'John',
          'mother':'Mary',
          'son1':'Joseph',
          'son2':'Charles',
          'Daughter':'Jane'}
print(family1)

{'father': 'John', 'mother': 'Mary', 'son1': 'Joseph', 'son2': 'Charles', 'Daughter': 'Jane'}

In [ ]:
family2 = {'father':'James',
          'mother':'Maria',
          'son':'Joe',
          'Daughter':'Janet'}
print(family2)

{'father': 'James', 'mother': 'Maria', 'son': 'Joe', 'Daughter': 'Janet'}

In [ ]:
#Joining dictionaries.
def merge_two_families(x,y):
  merged = family1.copy()
  merged.update(family2)
  return merged
merged = merge_two_families(family1,family2)
print(merged)

{'father': 'James', 'mother': 'Maria', 'son1': 'Joseph', 'son2': 'Charles', 'Daughter': 'Janet', 'son': 'Joe'}

In [ ]:
#To update items in a dictionary we use the following eg.
#
car["color"] = "light gray"

# and print out our dictionary
print(car)

{'brand': 'Mercedez Benz', 'model': 'E-class', 'year': 2012, 'color': 'light gray'}

To check if an element is in a dictionary

In [ ]:
# Let's check if the keyword year exists in car dictionary
#
if "year" in car:
  print("Yes, the keyword exists in the dictionary")
else:
  print('No, the keyword does not exist in the dictionary')

Yes, the keyword exists in the dictionary

**Try to check if a Key and value exists in a dictionary, if not add it to the dictionary.**

In [ ]:
# We can use keyword `len()` to determine how many items (key - value pairs) there are in the dictionary.

In [ ]:
# Finding out how many items there are in the family dictionary you created in the exercise above.

## 6.Loops

### a.For loops

For loops are used to iterate over a sequence (i.e. list, dictionary, string etc.then perform some action.

In [ ]:

fruits = ["bananas", "grapes", "mangoes"]

print(fruits)

['bananas', 'grapes', 'mangoes']

In [ ]:
#To loop through.
# then using a for loop to iterate through the list
for x in fruits:
 print(x)

bananas
grapes
mangoes
Passion fruits
oranges

In [ ]:
# Creating our dictionary
fruit_prices = {
    'bananas': 50, 
    'Oranges': 30, 
    'Pineapples': 40,
    'Passion': 25
}

In [ ]:
# Looping through keys only
for x in fruit_prices:
  print(x)

bananas
Oranges
Pineapples
Passion

In [ ]:
for x,y in fruit_prices.items():
  print(x,":", y)

bananas : 50
Oranges : 30
Pineapples : 40
Passion : 25

Looping through a string

In [ ]:
for y in "Dimension_data":
  print(y)

D
i
m
e
n
s
i
o
n
_
d
a
t
a

### b.break

In [ ]:
fruits = ["bananas", "grapes", "mangoes","Passion fruits","oranges"]

for x in fruits: 
  if x == "mangoes":
    break
  print(x)

bananas
grapes

In [ ]:
for val in "Derrick Kuria":
  print(val)
  if val == "r":
        break
print("The end")

D
e
r
The end

In [ ]:
for num in [21, 29, 98, 20, 100, 13, 29]: 
   print(num)
   if(num == 98):
	   print("The number 98 is found") 
	   break

21
29
98
The number 98 is found

### c.Continue

Using the continue statement we can stop the current iteration of the loop, 
and continue with the next section

In [ ]:
#Example 1
furniture = ["chairs", "tables", "stools","sofa","cabinet"]

for x in furniture:
  if x == "stools":
    continue 
  print(x)

chairs
tables
sofa
cabinet

In [ ]:
#Example 2
for val in "Derrick Kuria":
    if val == "r" or val =='c':
        continue
    print(val)
print("The end")

D
e
i
k

K
u
i
a
The end

In [ ]:
##Example 3
mobile_phone = ["samsung", "doogee", "iphone", "wiko", "LG", "Panasonic", "Sony", "Xiaomi","tecno"]

for x in mobile_phone:  
    if x == 'samsung' or x == 'iphone': 
         continue
    print ('Checked Phone :', x)

Checked Phone : doogee
Checked Phone : wiko
Checked Phone : LG
Checked Phone : Panasonic
Checked Phone : Sony
Checked Phone : Xiaomi
Checked Phone : tecno

Exercise

In [ ]:

# Make changes to the code below to omit the month of July and August
# while displaying the no. of months
#

months = ["January ","February","March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for m in months:
		print(m)

January
February
March
April
May
June
July
August
September
October
November
December

In [ ]:
for i in range(3):
    password = input('Enter your password: ')
    if password == 'secret':
        print('You have guessed the password!')
        break
else:
    print('You have made 3 incorrect password attempts')

Enter your password: secret
You have guessed the password!

### d.Nested For Loops

use  of a loop inside another loop

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
shopping = [['Apples', 40], ['Bananas', 15], ['Tomatoes', 20]]
  
for fruits in shopping: 
  for value in fruits: 
    print(value)

Apples
40
Bananas
15
Tomatoes
20

##7.Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

Upon defining the function, we can then call it as shown below. Calling a function means executing a function and printing its value.


Please take note of the parenthesis at the end, if you omit the parenthesis then the function will not display the output.

In [ ]:
def my_function():
    print("Hello, This is from my function!")

my_function()

Hello, This is from my function!

Using builtin functions

In [ ]:
# The max() function will return the item with the highest value as shown in the given arrays 
x = max([15, 20, 43, 33, 43])
print(x)

43

In [ ]:
#Another builtin function is type , that we used to check fordata types of variables.

In [ ]:
# defining our function name
def square_of_number():
  
  # assigning 6 to our variable nuber 
  number = 6
  

  square_square_of_number = number ** 2
  
  # the return keyword allows us to provide back the result/output of our function
  return square_square_of_number

# now calling our function
square_of_number()

36

In [ ]:
def sum():
  a = [6, 5, 4, 3, 2, 1]
  total = 0
  
    # performing our operation by using a for loop to iterate through our list
  for x in a:
    
    # for each iteration we perform total = total + 1;  which can be simply be written as shown below
    total += x
    
  # Then lastly return our output which is to print out the value of the total variable 
  return print(total)

# Lastly we call the function in order to use it
sum()

21